@import url("normalize.css");

//variables
$contactListBackgroundImage: url("45-degree-fabric-light.png");
$convoAreaBackgroundImage: url("60-lines.png");

$baseBackgroundColor: #eee;

body, html {
	height: 100%;
}

.main-wrapper {
	height: 100%;
	margin: 0px auto;
	overflow: hidden;

	.contact-list{
		float: left;
		width: 300px;
		height: 100%;
		background-color: $baseBackgroundColor;
		background-image: $contactListBackgroundImage;
		border-right: 2px solid #777;

		.contact-card{
			height: 100px;
			width: 100%;
			border-bottom: 1px solid #777;
			background-color: #ddd;			
			vertical-align: middle;
			text-align: center;
			cursor: pointer;


			.name{
				margin: 0;
				padding-top: 30px;
			}

			&:hover{
				background-color: #aaa;
			}
		}
	}

	.conversation-area{
		overflow: hidden;
		height: 100%;
		background-color: $baseBackgroundColor;
		background-image: $convoAreaBackgroundImage;

		.msg{
			vertical-align: bottom;
			border: 1px solid black;
			margin: 10px;
			min-width: 50px;
			text-align: center;
			padding: 7px;
			border-radius: 10px;

			&-them{
				background-color: #ddd;
				float: left;
				max-width: 45%;
				display: inline;
				clear: both;
				border-bottom-left-radius: 0px;
			}

			&-me{
				background-color: #42f456;
				float: right;
				max-width: 45%;
				display: inline;
				clear: both;
				border-bottom-right-radius: 0px;

			}
		}
	}
}